<div class="footer" id="footer">
  <p>
    © <%= theme.footer.year %> 
    <a class="flink" href="<%= theme.footer.url %>"
      ><%= theme.footer.copyright %></a
    >
    <a class="flink" href="<%= theme.footer.domain %>"
      ><%= theme.footer.icp %></a
    >.
    <label
      class="el-switch el-switch-green el-switch-sm"
      style="vertical-align: sub"
    >
      <input type="checkbox" name="switch" id="update_style" />
      <span class="el-switch-style"></span>
    </label>
  </p>
</div>

<% if (theme.gitalk.enable) { %>
    <input type="hidden" id="web_style" value="<%= theme.style %>" />
    <input type="hidden" id="clientID" value="<%= theme.gitalk.clientID %>" />
    <input type="hidden" id="clientSecret" value="<%= theme.gitalk.clientSecret %>" />
    <input type="hidden" id="repo" value="<%= theme.gitalk.repo %>" />
    <input type="hidden" id="owner" value="<%= theme.gitalk.owner %>" />
    <input type="hidden" id="admin" value="<%= theme.gitalk.admin %>" />
    <%- js('js/gitalk.js') %>
<% } %>
<%- js('highlight/index.js') %>
<%- js('js/theme.js') %>
