<div class="footer" id="footer">
  <p>
    © <%= theme.footer.year %> 
    <a class="flink" href="<%= theme.footer.url %>"
      ><%= theme.footer.copyright %></a
    >
    <a class="flink" href="<%= theme.footer.domain %>"
      ><%= theme.footer.icp %></a
    >
    <label
      class="el-switch el-switch-green el-switch-sm"
      style="vertical-align: sub"
    >
      <input type="checkbox" name="switch" id="update_style" />
      <span class="el-switch-style"></span>
    </label>
  </p>
</div>
<%- js('highlight/index.js') %>
<%- js('js/theme.js') %>
