<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
        <%= config.title %>
    </title>
    <% if (theme.favicon){ %>
        <%- favicon_tag(theme.favicon) %>
    <% } %>
    <%- js('libs/jquery.min.js') %>
    <link rel="stylesheet" type="text/css" href="/highlight/styles/atom-one-dark.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/highlight/styles/atom-one-light.min.css" /> -->
    <script type="text/javascript" src="/highlight/highlight.min.js"></script>
    <!-- <%- css('libs/highlight/styles/atom-one-dark.css') %> -->
    <%- css('font/css/font-awesome.min.css') %>
    <%- css('css/style.css') %>
</head>